<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">


    <title>Din lokala bank</title>
</head>

<body>
<div>
    <h1 class="centered"> Handelsbanken </h1>
    <h3 class="description">Boka ditt möte här</h3>
</div>



<div class="privateOrBusiness">
    <p> Önskar du boka som privatkund eller företagskund?</p>
    <button onclick="business"> Företag </button>
    <button onclick="private"> Privat </button>
</div>


<script src="javaScript.js"></script>

</body>

</html>