<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Din lokala bank</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" th:href="'/style.css'" >
</head>
<body>

<div>
    <h1> Handelsbanken </h1>
</div>
</div>
<div class="line">

    <div>



<!--    <h1 th:text="${bookingContent.date}"></h1>-->
<!--    <h1 th:text="${bookingContent.startTime}"></h1>-->


    </div>

</div>

<div class="progressbar">
    <p>
        Dina uppgifter
    </p>

    <p>
        Agenda
    </p>

    <p>
        Datum och tid
    </p>

    <p>
        Granska
    </p>

    <p class="show">
        Bekräftelse
    </p>

</div>

</div>
<div class="privateOrBusiness">
    <h3> Ditt möte är nu bokat!</h3>
    <p> Välkommen (datum) på möte med (rådgivare) </p>
    <div>
        <h1 th:text="${bookingContent.date}"></h1>
        <h1 th:text="${bookingContent.startTime}"></h1>
    </div>
</div>
Ett bekräftelsemejl har skickats till: <p th:text="${customer.email}"> </p>
Länk till mötet: </br>
<a  th:text="${bookingContent.videoLink}" th:href="${bookingContent.videoLink}"></a>

</body>
</html>