
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css" th:href="'/style.css'">
    <script src="../static/javaScript.js" th:src="'/javaScript.js'"></script>
    <title>Din lokala bank</title>
</head>

<body>
    <div class="content">

    <div class="article-top">
        <h1 class="headline-top" style="margin-bottom: 4px;">Bekräfta din bokning</h1>
        <div class="headline-tagline">
            Nu är du strax klar med din bokning. Vänligen kontrollera uppgifterna innan du bekräftar

        </div>
    </div>

    

        <h3>Mötesdetaljer</h3>

        Rådgivare i mötet<br>

    <div class="chip">
        <img src="../static/1523527053121.jfif" alt="Person" width="96" height="96">
        Simon Tunstig
      </div>
    </div>
     
</body>