
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css" th:href="'/style.css'">
    <script src="../static/javaScript.js" th:src="'/javaScript.js'"></script>
    <title>Din lokala bank</title>
</head>

<body>

<div>
    <h1> Handelsbanken </h1>
</div>
<div class="line">

</div>

<div class="progressbar">
    <p >
        Dina uppgifter
    </p>

    <p>
        Agenda
    </p>

    <p>
        Datum och tid
    </p>

    <p class="show">
        Bekräftelse
    </p>

</div>


    <p class="content">

    <div class="article-top">
        <h1 class="headline-top" style="margin-bottom: 4px;">Bekräfta din bokning</h1>
        <div class="headline-tagline">
            Nu är du strax klar med din bokning. Vänligen kontrollera uppgifterna innan du bekräftar

        </div>
    </div>

        <h3>Mötesdetaljer</h3>

    <div class="customerForm">

        Datum: <p th:text=" ${bookingContent.date}"> </p>

        <div>
           Tid:    <p th:text= "${bookingContent.startTime}"></p>
            <div th:text="${bookingContent.endTime}"> </div>

        </div>

             <div>
                 <p>Agenda:</p>
                <div th:each="content : *{bookingContent.contents}">
                    <span th:text="${content}"></span>
                </tr>
            </div>

            Övrig information:<p  th:text=" ${bookingContent.textMessage}"></p>


        Rådgivare: <br>

    <div class="chip">
        <img src="../static/lwam.jpg" alt="Person" width="96" height="96">
        <div th:text="${bookingContent.employeeFirstName}"></div>
        <div th:text="${bookingContent.employeeLastName}"></div>
      </div>
    </div>

    Länk till mötet: </br>
    <a  th:text="${bookingContent.videoLink}" th:href="${bookingContent.videoLink}"></a>
    </div>

    </body>
</html>