<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Din lokala bank</title>
  <link rel="stylesheet" type="text/css" href="../static/style.css" th:href="'/style.css'" >
</head>
<body>
<div>
  <h1> Handelsbanken </h1>
</div>
<form action="/customerForm" th:object="${customer}" method="post" >
  <p>Personnummer</p><input type="text" value="" th:field="*{customerNumber}">
  <p>Förnamn</p><input type="text" th:field="*{firstName}" >
  <p>Efternamn</p><input type="text" th:field="*{lastName}" class="test">
  <p>Telefonnummer</p><input type="text" th:field="*{phoneNumber}" class="test">
  <p>Email adress</p><input type="text" th:field="*{email}" class="test">
  <input class="btn btn-primary btn-lg px-4 me-md-2" type="submit" value="Nästa sida">
</form>
</body>
</html>