<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css" th:href="'/style.css'" >
    <script src="../static/javaScript.js"  th:src="'/javaScript.js'"></script>
</head>


<body class="startPage">

<div class="bookMeeting">

    <a href="/customer">
        <button>Boka ditt möte här > </button>
    </a>


</div>

</body>
</html>