<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Din lokala bank</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" th:href="'/style.css'" >
</head>
<body>
<h1>Handelsbanken</h1>

<div>
    Name: <input type="text" th:field="*{name}">
</div>
<div>
    <div th:each="subject, itemStat : *{subjectClasses}">
        <span th:text="${subject.name}"></span>
        <input type="hidden" th:field="*{subjectClasses[__${itemStat.index}__].name}"/>
        <input type="checkbox" th:field="*{subjectCLasses[__${itemStat.index}__].enabled}"/>
    </div>
</div>

<!--<input type="submit">-->
<!--</form>-->

<!--<div>-->
<!--    <span th:text="${'Name: ' + user.name}"></span>-->
<!--    <div th:each="subject, itemStat : *{user.subjectClasses}">-->
<!--        <span th:text="${subject.name} + ':'"></span>-->
<!--        <span th:text="${subject.enabled}"></span>-->
<!--    </div>-->
<!--</div>-->




<!--&lt;!&ndash;<form action="/bookIt" method="post" th:object="${contents}">&ndash;&gt;-->


<!--<form action="/subjectForm" th:object="${content}" method="post" >-->
<!--    <input type="checkbox" th:each="contentOpt : ${T(com.bookit.demo.SUBJECT).values()}"-->
<!--            th:value="${contentOpt}" th:text="${contentOpt}">-->
<!--&lt;!&ndash;    <p>Övrigt:</p><input type="text" th:field="*{textMessage}">&ndash;&gt;-->
<!--    <input type="submit" value="Submit">-->
<!--</form>-->



<!--&lt;!&ndash;    <input type="checkbox" th:field="*{id}" />&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="checkbox" th:field="*{bookingRequestId}" />&ndash;&gt;-->
<!--&lt;!&ndash;    &lt;!&ndash;    <p><input type="checkbox" th:each="*{subjects}" th:value="*{content.id}"/></p>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    <div th:each="subject : ${subjects}">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <input type="checkbox" th:value="${subject}" th:field="*{subject}" />&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <input value="Nästa sida" type="submit"/>&ndash;&gt;-->


<!--<h3> Vad vill du ha rådgivning om?</h3>-->
<!--<form action="/bookIt" method="post" th:object="${contents}">-->
<!--    <input type="hidden" th:field="*{id}"  th:name="customerId"/>-->
<!--    <div th:each="contentOpt : ${T(com.bookit.demo.SUBJECT).values()}">-->
<!--        <input type="checkbox"th:value="${contentOpt}" th:text="${contentOpt}"/>-->
<!--    </div>-->
<!--       <p>Övrig information<p/>-->
<!--    <textarea name="textMessage" th:field="*{textMessage}" rows="7" cols="39"></textarea>-->
<!--<p></p>-->
<!--<input value="Nästa sida" type="submit"/>-->
<!--</form>-->

</body>
</html>