<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Din lokala bank</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" th:href="'/style.css'" >
</head>
<body>
<h1>Handelsbanken</h1>
</div>
<div class="line">

</div>



<div class="progressbar">
    <p>
        Dina uppgifter
    </p>

    <p class="show">
        Agenda
    </p>

    <p>
        Datum och tid
    </p>

    <p>
        Bekräftelse
    </p>

</div>

<div class="privateOrBusiness">
    <h3> Skapa din agenda för mötet</h3>
    <p> Beskriv gärna övriga önskemål eller funderingar under övrig information. </p>

</div>


<div class="customerForm">

<form action="/bookIt" method="post" th:object="${contentHolder}">
    <input type="hidden" th:field="*{bookingRequestId}">

    <div>
        <div th:each="content, itemStat : *{contents}">
            <span th:text="${content.subjects.displayValue}"></span>
            <input type="hidden" th:field="*{contents[__${itemStat.index}__].subjects}"/>
            <input type="checkbox" th:field="*{contents[__${itemStat.index}__].enabled}"/>
        </div>
    </div>

    <p>  Övrig information till din rådgivare:</p><textarea type="text" th:field="*{textMessage}" rows="7" cols="39" > </textarea>

    <p></p>

<div class="nextButton">
<input class="buttonForm" value="Nästa sida" type="submit"/>
</div>
</form>

    </div>

</body>
</html>